body,a,table,div,span,td,th,input,select {
	font-size: 9pt;
	font-family: "ו,Verdana,Arial";
	Color: #000000;
}

body {
	background-color: #FFFFFF;
	SCROLLBAR-BASE-COLOR: #D3E5FA
}

p {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}